@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

table th {
    line-height: 2em;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: .05em;
    color: #5e6f7b; /*remove to be consistent with other headers*/
}

table td {
    vertical-align: initial;
    line-height: 2em;
}

table th:nth-child(1), table th:nth-child(2) {
    width: 25%;
}

table tr td:nth-child(3) {
    line-height: 1.6em;
}

.slds-col--rule-right {
    margin-top: 70px;
    background-color: none;
}

.topnav {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: #1976D2;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(51,50,51,.5);
    margin-bottom: 8px;
}

.topnav img{
    width: 130px;
    margin-left: 40px;
    margin-right: 20px;
}
/* Style the links inside the navigation bar */
.topnav .link {
    font-family: Lato,sans-serif;
    line-height: 1.5;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    border-radius: 4px;
}

/* Change the color of links on hover */
.topnav .link:hover {
    background-color: rgba(255,255,255,.2);
    color: rgba(255,255,255,.75);
}

/* Add a color to the active/current link */
.topnav .link.active {
    background: #fafafa;
    color: black;
}

.topnav-brand {
    display:inline-block;
}
