<div class="topnav">
    <a class="topnav-brand" href="/">
        <img src="http://developer.dronedeploy.com/static/img/dd-logo.svg" alt="dronedeploy">
    </a>
    <a class="link" href="https://developer-docs.dronedeploy.com/introduction/overview">Docs</a>
    <a class="link" href="/reference/">Reference</a>
    <a class="link" href="https://www.dronedeploy.com/graphiql/">API Explorer</a>
    <a class="link" href="https://airtable.com/shr7Uk76GPThLlp7E">Become a Partner</a>
</div>
